{% extends "layouts/base.html" %}

{% block title %} Form Elements {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="yoo-content yoo-style1">
    <div class="yoo-padd-lr-30 yoo-uikits-heading">
        <h2 class="yoo-uikits-title">Receivable Management</h2>
        <ul class="yoo-breadcamb yoo-style1 yoo-mp0">
          <li><a href="{{url_for('views.dashboard')}}">Home</a></li>
          <li>Create Invoice</li>
        </ul>
      </div>
      <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="yoo-card yoo-style1">
                    <div class="yoo-card-heading">
                        <div class="yoo-card-heading-left">
                            <h2 class="yoo-card-title">Create Invoice</h2>
                        </div>
                    </div>
                    <div class="yoo-card-body">
                        <div class="yoo-padd-lr-30 yoo-alert-wrap">
                            <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                            <form action="{{url_for('receivable.create_csv_page')}}" method="post" enctype="multipart/form-data">
                                <div class="form-group yoo-cs-input-btn">
                                    <label for="exampleFormControlFile1">Upload CSV</label>
                                    <span>Chose File</span>
                                    <input type="file" class="form-control-file" name="bill_file" id="exampleFormControlFile1">
                                </div>
                                <button class="btn btn-info" type="submit">Upload Invoice</button>
                            </form>
                            <div class="yoo-height-b15 yoo-height-lg-b15"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="yoo-card yoo-style1">
                    <div class="yoo-card-heading">
                        <div class="yoo-card-heading-left">
                            <h2 class="yoo-card-title">Allowed Companies</h2>
                        </div>
                        <div class="yoo-card-heading-right">
                            <a href="#" class="yoo-btn yoo-style1 yoo-small">Template</a>
                        </div>
                    </div>
                    <div class="yoo-card-body">
                        <div class="table-responsive">
                            <div class="yoo-table yoo-style1 yoo-type1" style="min-height: auto;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Company Name</th>
                                            <th>GL Accounts</th>
                                            <th>Contacts</th>
                                            <th>Currencies</th>
                                            <th>Tax Codes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <div class="yoo-table-icon-box">
                                                    <img src="/static/assets/img/icon/icon1.png" alt="icon"
                                                        class="yoo-table-icon" />
                                                    <div class="yoo-table-icon-box-info">
                                                        <h3 class="yoo-table-icon-title">Bob Dylan</h3>
                                                        <span class="yoo-table-icon-text">Dylan@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="yoo-table-more-option">
                                                    <a href="/gl-account.html">
                                                        <button class="btn btn-outline-info btn-sm"><i class="material-icons fs-2 mr-0">remove_red_eye</i></button>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="yoo-table-more-option">
                                                    <a href="/manage-companies.html">
                                                        <button class="btn btn-outline-info btn-sm"><i class="material-icons fs-2 mr-0">remove_red_eye</i></button>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="yoo-table-more-option">
                                                    <button class="btn btn-outline-info btn-sm"><i class="material-icons fs-2 mr-0">remove_red_eye</i></button>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="yoo-table-more-option">
                                                    <button class="btn btn-outline-info btn-sm"><i class="material-icons fs-2 mr-0">remove_red_eye</i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <div class="yoo-table-icon-box">
                                                    <img src="/static/assets/img/icon/icon2.png" alt="icon"
                                                        class="yoo-table-icon" />
                                                    <div class="yoo-table-icon-box-info">
                                                        <h3 class="yoo-table-icon-title">Bob Dylan</h3>
                                                        <span class="yoo-table-icon-text">Dylan@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="yoo-table-more-option">
                                                    <a href="/gl-account.html">
                                                        <button class="btn btn-outline-info btn-sm"><i class="material-icons fs-2 mr-0">remove_red_eye</i></button>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="yoo-table-more-option">
                                                    <a href="/manage-companies.html">
                                                        <button class="btn btn-outline-info btn-sm"><i class="material-icons fs-2 mr-0">remove_red_eye</i></button>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="yoo-table-more-option">
                                                    <button class="btn btn-outline-info btn-sm"><i class="material-icons fs-2 mr-0">remove_red_eye</i></button>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="yoo-table-more-option">
                                                    <button class="btn btn-outline-info btn-sm"><i class="material-icons fs-2 mr-0">remove_red_eye</i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="yoo-padd-lr-30 yoo-alert-wrap">
                            <div class="yoo-height-b10 yoo-height-lg-b10"></div>
                            <div class="d-flex justify-content-end">
                                <nav>
                                    <ul class="pagination">
                                      <li class="page-item disabled">
                                        <a class="page-link" href="#">Previous</a>
                                      </li>
                                      <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                                      <li class="page-item" aria-current="page">
                                        <a class="page-link" href="#">2</a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                      </li>
                                    </ul>
                                  </nav>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/jquery.nestable.js"></script>

{% endblock javascripts %}