{% extends "layouts/base.html" %} {% block title %} UI Badge {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="/static/assets/css/notifications.css" />
{% endblock stylesheets %} {% block content %}

<div class="yoo-content yoo-style1 notifications">
  <div class="body">
    <div class="main">
      <div class="container-2">
        <div class="section-header">
          <div class="text-and-supporting-wrapper">
            <div class="text-and-supporting">
              <div class="title"><div class="text-2">Notifications</div></div>
            </div>
          </div>
        </div>
        <div class="tabs-and-actions">
          <div class="button-group">
            <div class="button-group-base">
              <div class="text-3">Important</div>
              <div class="pill"><div class="text-4">2</div></div>
            </div>
            <a href="/auth/other-notifications">
              <div class="button-group-base-2">
                <div class="text-3">Other</div>
                <div class="pill"><div class="text-4">3</div></div>
              </div>
            </a>
          </div>
          <div class="right">
            <button class="button">
              <img class="img" src="/static/assets/img/icon/check-w.svg" />
              <div class="text-5">Clear All</div>
            </button>
          </div>
        </div>
      </div>
      <div class="table-wrapper">
        <div class="table">
          <div class="content-2">
            <div class="column">
              <div class="table-cell">
                <div class="div"><div class="text-6">10:43 AM</div></div>
              </div>
              <div class="table-cell">
                <div class="div"><div class="text-6">10:07 AM</div></div>
              </div>
              <div class="div-wrapper">
                <div class="div"><div class="text-6">09:12 AM</div></div>
              </div>
              <div class="div-wrapper">
                <div class="div"><div class="text-6">09:10 AM</div></div>
              </div>
              <div class="div-wrapper">
                <div class="div"><div class="text-6">08:45 AM</div></div>
              </div>
              <div class="div-wrapper">
                <div class="div"><div class="text-6">12:02 AM</div></div>
              </div>
            </div>
            <div class="column-2">
              <div class="table-cell-2">
                <div class="frame">
                  <div class="ellipse-frame-2">
                    <div class="ellipse-2"></div>
                  </div>
                  <div class="text-wrapper">Documents</div>
                </div>
              </div>
              <div class="table-cell-2">
                <div class="frame">
                  <div class="ellipse-frame-2">
                    <div class="ellipse-2"></div>
                  </div>
                  <div class="text-wrapper">Accounts Payable</div>
                </div>
              </div>
              <div class="table-cell-3">
                <div class="frame">
                  <div class="ellipse-frame-2"></div>
                  <div class="text-wrapper">Accounts Receivable</div>
                </div>
              </div>
              <div class="table-cell-3">
                <div class="frame">
                  <div class="ellipse-frame-2"></div>
                  <div class="text-wrapper">Users</div>
                </div>
              </div>
              <div class="table-cell-3">
                <div class="frame">
                  <div class="ellipse-frame-2"></div>
                  <div class="text-wrapper">Documents</div>
                </div>
              </div>
              <div class="table-cell-3">
                <div class="frame">
                  <div class="ellipse-frame-2"></div>
                  <div class="text-wrapper">Accounts Receivable</div>
                </div>
              </div>
            </div>
            <div class="column-3">
              <div class="table-cell">
                <div class="div">
                  <p class="text-6">1 document needs to be verified</p>
                </div>
              </div>
              <div class="table-cell">
                <div class="div">
                  <p class="text-6">3 bills need to be sent to Xero</p>
                </div>
              </div>
              <div class="table-cell-4">
                <div class="div">
                  <p class="text-6">1 invoice needs to be sent to Xero</p>
                </div>
              </div>
              <div class="table-cell-4">
                <div class="div">
                  <p class="text-6">Jane Doe needs a password reset</p>
                </div>
              </div>
              <div class="table-cell-4">
                <div class="div">
                  <p class="text-6">17 documents need to be verified</p>
                </div>
              </div>
              <div class="table-cell-4">
                <div class="div">
                  <p class="text-6">4 invoices need to be sent to Xero</p>
                </div>
              </div>
            </div>
            <div class="div">
              <div class="table-cell-5">
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/eye.svg" />
                </div>
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/check.svg" />
                </div>
              </div>
              <div class="table-cell-5">
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/eye.svg" />
                </div>
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/check.svg" />
                </div>
              </div>
              <div class="table-cell-6">
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/eye.svg" />
                </div>
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/check.svg" />
                </div>
              </div>
              <div class="table-cell-6">
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/eye.svg" />
                </div>
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/check.svg" />
                </div>
              </div>
              <div class="table-cell-6">
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/eye.svg" />
                </div>
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/check.svg" />
                </div>
              </div>
              <div class="table-cell-6">
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/eye.svg" />
                </div>
                <div class="img-wrapper">
                  <img class="img-2" src="/static/assets/img/icon/check.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
